<{_element}div{/} {$attributes}>
| {$Menu}
| {$Content}
| {Container}
div(id="{$_id}" class="ui vertical segment")
    div(class="ui atk-overflow-auto")
        | {$Table}
        | {$Content}
    | {$Paginator}
| {/Container}
</{_element}div{/}>
= "\n"
