<!DOCTYPE html>
<html lang="{lang}en{/}">
  <head>
    <title>{title}Agile UI - Untitled Project{/}</title>{$meta}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>'use strict'; {$InitJsBundle}</script>
    {$Head}
    <style>{$style}</style>
    <style>
    
    
    
.modals.dimmer {
  scrollbar-gutter: stable;
}

.modals.dimmer .ui.modal:not([class*="overlay fullscreen"])::after {
  content: "\00A0";
  position: absolute;
  height: 0 !important;
}

.modals.dimmer .ui.scrolling.modal:not([class*="overlay fullscreen"])::after {
  height: 2rem !important;
}

.dimmable.dimmed>.modals.dimmer {
  overflow: auto;
}


.ui.modal>.close:focus,
.ui.modal>.close:hover {
  opacity: 1;
  outline: none;
}

    
    
    </style>
  </head>
  <body class="{$class}">{$Content}
    <div class="atk-side-panels"></div>
    <div class="ui dimmer modals page"></div>
  </body>
</html>
