| <div {$attributes}>
|     <i class="atk-filter-icon {$FilterIcon} icon"></i>
|     <input type="text" placeholder="{$Placeholder}" style="border: none;" class="atk-grid-search">
|     <button class="atk-search-button {$Button}" style="{buttonStyle}padding: 2px 0px; border: 0px; box-shadow: none; height: 24px;{/}">
|         <i class="atk-search-icon {$ButtonSearchIcon} link icon" style="margin: auto;"></i>
|         <i class="atk-remove-icon {$ButtonRemoveIcon} link icon" style="margin: auto;"></i>
|     </button>
| </div>
= "\n"
