<{_element}div{/} {$attributes}><i class="{$closeIcon} icon"></i>
    div(class="{$headerCss}") {$title}
    div(class="{$contentCss}") {$Content}
|
| {ActionContainer}
| <div class="actions">
|     <div>{$actions}</div>
| </div>
| {/ActionContainer}
|
</{_element}div{/}>
= "\n"
