/docs/build
/coverage
/vendor
/composer.lock
.idea
nbproject
.vscode
.DS_Store

local
*.local
*.local.*
cache
*.cache
*.cache.*

/demos/db.php
/demos/db-behat-rw.txt
/demos/_demo-data/db.sqlite
/demos/_demo-data/db.sqlite-journal
/phpunit.xml
/behat.yml
