docs/build
/build
/vendor
/composer.lock
.idea
nbproject
.DS_Store

local
*.local
*.local.*
cache
*.cache
*.cache.*

/public/jquery
/public/semantic
/demos/db.php
/demos/_demo-data/db.sqlite
/phpunit.xml
/phpunit-*.xml
/behat.yml

package-lock.json
!/js/package-lock.json

/config.codekit
*.bak
*.codekit3
yarn.lock
/coverage
/demos/test/
