docs/build
/build
/vendor
/composer.lock
.idea
nbproject
.DS_Store

local
*.local
*.local.*
cache
*.cache
*.cache.*

/public/jquery
/public/semantic
/demos/db.php
/phpunit.xml
/behat.yml

/config.codekit
*.bak
*.codekit3
yarn.lock
run_local.sh
/coverage
/demos/test/
package-lock.json
