language: php

php:
    - '5.6'
    - '7.0'
    - '7.1'
    - '7.2'

services:
    - mysql


addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
install:
  - export DISPLAY=':99'
  - Xvfb :99 -screen 0 1280x1024x16 +extension RANDR > /dev/null 2>&1 &

before_install:
    - npm get prefix

before_script:

    - "sh -e /etc/init.d/xvfb start"
    - "export DISPLAY=:99.0"
    - "wget http://selenium.googlecode.com/files/selenium-server-standalone-2.31.0.jar"
    - "wget http://chromedriver.googlecode.com/files/chromedriver_linux32_23.0.1240.0.zip && unzip chromedriver_linux32_23.0.1240.0.zip && sudo mv chromedriver /usr/bin"
    - "java -jar selenium-server-standalone-2.31.0.jar > /dev/null &"
    - sleep 5
      #- "wget http://selenium-release.storage.googleapis.com/3.0-beta3/selenium-server-standalone-3.0.0-beta3.jar -O selenium-server-standalone.jar && sudo mv selenium-server-standalone.jar /usr/local/bin"
      #- "wget http://chromedriver.storage.googleapis.com/2.23/chromedriver_linux64.zip -O chromedriver.zip && unzip chromedriver.zip && sudo mv chromedriver /usr/local/bin"
      #- "java  -Dwebdriver.chrome.driver=/usr/local/bin/chromedriver  -jar /usr/local/bin/selenium-server-standalone.jar &"
      #- sleep 3
      #- sudo whereis google-chrome

    - if [[ ${TRAVIS_PHP_VERSION:0:3} == "7.1" ]]; then php -S localhost:8888; fi &
    - mysql -e 'create database atk4;'
    - mysql atk4 < demos/atk4.sql
    - mv demos/db.travis.php demos/db.php
    - composer install

after_script:
    - echo $TRAVIS_BRANCH
    - if [[ ${TRAVIS_PHP_VERSION:0:3} == "7.1" ]]; then echo "Sending coverage report"; vendor/bin/test-reporter --coverage-report clover.xml; fi
    - if [[ ${TRAVIS_PHP_VERSION:0:3} == "7.1" ]]; then echo "Sending codecov report"; bash <(curl -s https://codecov.io/bash) -f clover.xml; fi

script:
    - if [[ ${TRAVIS_PHP_VERSION:0:3} != "7.1" ]]; then NC="--no-coverage"; fi
    - ./vendor/phpunit/phpunit/phpunit $NC #- wget -O - http://localhost:8888/demos/button2.php 
    - if [[ ${TRAVIS_PHP_VERSION:0:3} == "7.1" ]]; then bash tools/test.sh; fi

cache:
  directories:
    - $HOME/.composer/cache

notifications:
    urls:
      - https://webhooks.gitter.im/e/b33a2db0c636f34bafa9

    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always

    email: false
