parameters:
    level: 2
    paths:
        - ./
    excludes_analyse:
        - cache/
        - build/
        - vendor/

    # TODO review once we drop PHP 7.x support
    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        - '~^Unsafe usage of new static\(\)\.$~'

        # TODO these rules are generated, this ignores should be fixed in the code
        # for level = 1
        # for tsrc/AbstractView.php
        - '~^Access to an undefined property Atk4\\Ui\\AbstractView\:\:\$skin\.$~'
        # for tsrc/CardDeck.php
        - '~^Access to an undefined property atk4\\ui\\CardDeck\:\:\$editFields\.$~'
        # for tsrc/Form/Control/Lookup.php
        - '~^Call to an undefined method atk4\\ui\\Form\\Control\\Lookup\:\:search\(\)\.$~'
        # for tsrc/Modal.php
        - '~^Access to an undefined property Atk4\\Ui\\Modal\:\:\$options\.$~'
        # for tsrc/Table.php
        - '~^Access to an undefined property Atk4\\Ui\\Table\:\:\$t_row_master\.$~'
        - '~^Access to an undefined property Atk4\\Ui\\Table\:\:\$model¨\.$~'
        # for tsrc/Table/Column/Delete.php
        - '~^Access to an undefined property Atk4\\Ui\\Table\\Column\\Delete\:\:\$vp\.$~'
        # for tsrc/Table/Column/FilterModel/TypeTime.php
        - '~^Call to an undefined method atk4\\ui\\Table\\Column\\FilterModel\\TypeTime\:\:recalData\(\)\.$~'
        # for tsrc/Wizard.php
        - '~^Access to an undefined property Atk4\\Ui\\Wizard\:\:\$stepTemplate\.$~'
        - '~^Access to an undefined property Atk4\\Ui\\Wizard\:\:\$buttonFinish\.$~'
        # for tests/CallbackTest.php
        - '~^Access to an undefined property Atk4\\Ui\\Tests\\AppMock\:\:\$terminate\.$~'

        # TODO these rules are generated, this ignores should be fixed in the code
        # for level = 2
        # for demos/_includes/Demo.php
        - '~^Call to an undefined method Atk4\\Ui\\JsChain\:\:initHighlighting\(\)\.$~'
        # for demos/_includes/DemoLookup.php
        - '~^Call to an undefined method Atk4\\Ui\\Jquery\:\:modal\(\)\.$~'
        - '~^Call to an undefined method Atk4\\Ui\\Jquery\:\:dropdown\(\)\.$~'
        # for demos/_unit-test/callback.php
        - '~^Access to an undefined property atk4\\ui\\AbstractView\:\:\$cb\.$~'
        - '~^Call to an undefined method atk4\\ui\\AbstractView\:\:setModel\(\)\.$~'
        - '~^Call to an undefined method atk4\\ui\\AbstractView\:\:jsReload\(\)\.$~'
        # for demos/basic/label.php
        - '~^Call to an undefined method atk4\\ui\\Jquery\:\:fadeOut\(\)\.$~'
        # for demos/basic/view.php
        - '~^Call to an undefined method atk4\\ui\\Jquery\:\:rating\(\)\.$~'
        - '~^Call to an undefined method atk4\\ui\\Jquery\:\:transition\(\)\.$~'
        # for demos/collection/jssortable.php
        - '~^Call to an undefined method atk4\\ui\\Table\\Column\:\:onReorder\(\)\.$~'
        # for demos/collection/table.php
        - '~^Call to an undefined method atk4\\ui\\Jquery\:\:reload\(\)\.$~'
        # for demos/collection/tablefilter.php
        - '~^Call to an undefined method Atk4\\Ui\\Demos\\CountryLock\:\:expr\(\)\.$~'
        # for demos/data-action/jsactions.php
        - '~^Call to an undefined method Atk4\\Ui\\View\:\:addFields\(\)\.$~'
        # for demos/form-control/calendar.php
        - '~^Call to an undefined method Atk4\\Ui\\Form\\Control\:\:addAction\(\)\.$~'
        - '~^Call to an undefined method Atk4\\Ui\\Form\\Control\:\:getJsInstance\(\)\.$~'
        # for demos/form-control/checkbox.php
        - '~^Call to an undefined method Atk4\\Ui\\Jquery\:\:checkbox\(\)\.$~'
        # for demos/form-control/input2.php
        - '~^Call to an undefined method Atk4\\Ui\\Form\\Control\:\:onDelete\(\)\.$~'
        - '~^Call to an undefined method Atk4\\Ui\\Form\\Control\:\:onUpload\(\)\.$~'
        # for demos/form-control/multiline.php
        - '~^Call to an undefined method Atk4\\Ui\\Form\\Layout\:\:addColumn\(\)\.$~'
        - '~^Call to an undefined method Atk4\\Ui\\Form\\Control\:\:onLineChange\(\)\.$~'
        - '~^Access to an undefined property Atk4\\Ui\\Form\\Control\:\:\$jsAfterAdd\.$~'
        - '~^Access to an undefined property Atk4\\Ui\\Form\\Control\:\:\$jsAfterDelete\.$~'
        - '~^Call to an undefined method Atk4\\Ui\\Form\\Control\:\:saveRows\(\)\.$~'
        # for demos/form-control/upload.php
        - '~^Access to an undefined property Atk4\\Ui\\Form\\Control\:\:\$cb\.$~'
        - '~^Call to an undefined method Atk4\\Ui\\Form\\Control\:\:clearThumbnail\(\)\.$~'
        - '~^Call to an undefined method Atk4\\Ui\\Form\\Control\:\:setThumbnailSrc\(\)\.$~'
        - '~^Call to an undefined method Atk4\\Ui\\Form\\Control\:\:setFileId\(\)\.$~'
        # for demos/form/form-section-accordion.php
        - '~^Call to an undefined method Atk4\\Ui\\Form\\Layout\:\:addSection\(\)\.$~'
        - '~^Call to an undefined method Atk4\\Ui\\Form\\Layout\:\:activate\(\)\.$~'
        # for demos/form/form-section.php
        - '~^Call to an undefined method Atk4\\Ui\\Form\\Layout\:\:addTab\(\)\.$~'
        # for demos/form/form.php
        - '~^Call to an undefined method Atk4\\Ui\\JsChain\:\:val\(\)\.$~'
        - '~^Call to an undefined method Atk4\\Ui\\JsChain\:\:checkbox\(\)\.$~'
        # for demos/form/form2.php
        - '~^Access to an undefined property Atk4\\Ui\\Form\\Control\:\:\$iconLeft\.$~'
        # for demos/init-app.php
        - '~^Access to an undefined property Atk4\\Ui\\Layout&Atk4\\Ui\\Layout\\NavigableInterface\:\:\$menu\.$~'
        # for demos/init-db.php
        - '~^Call to an undefined method Atk4\\Data\\Reference\\HasOne\:\:addField\(\)\.$~'
        - '~^Call to an undefined method Atk4\\Data\\Persistence\:\:expr\(\)\.$~'
        - '~^Call to an undefined method Atk4\\Data\\Reference\\HasOne\:\:addTitle\(\)\.$~'
        - '~^Call to an undefined method Atk4\\Data\\Model\:\:importFromFilesystem\(\)\.$~'
        # for demos/interactive/modal.php
        - '~^Call to an undefined method atk4\\ui\\Jquery\:\:atkReloadView\(\)\.$~'
        # for demos/interactive/popup.php
        - '~^Access to an undefined property atk4\\ui\\Lister\:\:\$items\.$~'
        - '~^Call to an undefined method atk4\\ui\\View\:\:linkCart\(\)\.$~'
        # for demos/interactive/sse.php
        - '~^Call to an undefined method Atk4\\Ui\\Jquery\:\:atkServerEvent\(\)\.$~'
        # for demos/interactive/tabs.php
        - '~^Call to an undefined method Atk4\\Ui\\View\:\:setActive\(\)\.$~'
        # for demos/interactive/wizard.php
        - '~^Access to an undefined property atk4\\ui\\Form\\Control\:\:\$placeholder\.$~'
        # for demos/layout/layout-panel.php
        - '~^Call to an undefined method atk4\\ui\\Panel\\Loadable\:\:jsOpen\(\)\.$~'
        - '~^Call to an undefined method atk4\\ui\\Panel\\Loadable\:\:onOpen\(\)\.$~'
        - '~^Call to an undefined method atk4\\ui\\Panel\\Loadable\:\:addConfirmation\(\)\.$~'
        # for src/Accordion.php
        - '~^Call to an undefined method Atk4\\Ui\\Jquery\:\:accordion\(\)\.$~'
        # for src/Card.php
        - '~^Call to an undefined method atk4\\ui\\AbstractView\:\:addFields\(\)\.$~'
        - '~^Call to an undefined method atk4\\ui\\Jquery\:\:parents\(\)\.$~'
        - '~^Call to an undefined method atk4\\ui\\View\:\:addDescription\(\)\.$~'
        # for src/CardDeck.php
        - '~^Access to an undefined property atk4\\ui\\AbstractView\:\:\$reload\.$~'
        - '~^Access to an undefined property atk4\\ui\\AbstractView\:\:\$queryArg\.$~'
        - '~^Call to an undefined method atk4\\ui\\AbstractView\:\:addClass\(\)\.$~'
        - '~^Call to an undefined method atk4\\ui\\AbstractView\:\:on\(\)\.$~'
        # for src/Console.php
        - '~^Call to an undefined method object\:\:issetApp\(\)\.$~'
        - '~^Call to an undefined method object\:\:getApp\(\)\.$~'
        - '~^Access to an undefined property object\:\:\$debug\.$~'
        # for src/Crud.php
        - '~^Call to an undefined method atk4\\ui\\UserAction\\JsExecutorInterface\:\:stickyGet\(\)\.$~'
        # for src/Form.php
        - '~^Call to an undefined method atk4\\ui\\JsChain\:\:preventFormLeave\(\)\.$~'
        # for src/Form/Control/Calendar.php
        - '~^Access to an undefined property atk4\\ui\\JsChain\:\:\$l10ns\.$~'
        - '~^Call to an undefined method atk4\\ui\\JsChain\:\:localize\(\)\.$~'
        - '~^Call to an undefined method atk4\\ui\\Jquery\:\:flatpickr\(\)\.$~'
        - '~^Call to an undefined method atk4\\ui\\Jquery\:\:get\(\)\.$~'
        # for src/Form/Control/Lookup.php
        - '~^Call to an undefined method atk4\\ui\\Jquery\:\:serialize\(\)\.$~'
        # for src/Form/Control/Upload.php
        - '~^Property atk4\\ui\\Form\\Control\\Upload\:\:\$action has unknown class atk4\\ui\\Form\\Control\\View as its type\.$~'
        - '~^Call to an undefined method atk4\\ui\\Jquery\:\:atkFileUpload\(\)\.$~'
        # for src/Form/Control/UploadImage.php
        - '~^Call to an undefined method atk4\\ui\\Jquery\:\:removeAttr\(\)\.$~'
        # for src/Grid.php
        - '~^Call to an undefined method Atk4\\Ui\\Table\\Column\:\:addActionMenuItem\(\)\.$~'
        # for src/ItemsPerPageSelector.php
        # for src/JsCallback.php
        - '~^Call to an undefined method Atk4\\Ui\\Jquery\:\:atkAjaxec\(\)\.$~'
        - '~^Cannot access property \$_chain on string\.$~'
        # for src/JsConditionalForm.php
        - '~^Call to an undefined method Atk4\\Ui\\Jquery\:\:atkConditionalForm\(\)\.$~'
        # for src/JsPaginator.php
        - '~^Call to an undefined method atk4\\ui\\Jquery\:\:atkScroll\(\)\.$~'
        # for src/JsSearch.php
        - '~^Call to an undefined method Atk4\\Ui\\Jquery\:\:atkJsSearch\(\)\.$~'
        # for src/JsSortable.php
        - '~^Call to an undefined method atk4\\ui\\Jquery\:\:atkJsSortable\(\)\.$~'
        # for src/JsToast.php
        - '~^Call to an undefined method Atk4\\Ui\\Jquery\:\:toast\(\)\.$~'
        # for src/JsVueService.php
        - '~^Call to an undefined method atk4\\ui\\JsChain\:\:createAtkVue\(\)\.$~'
        - '~^Call to an undefined method atk4\\ui\\JsChain\:\:createVue\(\)\.$~'
        - '~^Call to an undefined method atk4\\ui\\JsChain\:\:useComponent\(\)\.$~'
        # for src/Layout/Maestro.php
        - '~^Call to an undefined method atk4\\ui\\Jquery\:\:atkSidenav\(\)\.$~'
        # for src/Menu.php
        - '~^Call to an undefined method atk4\\ui\\AbstractView\:\:setElement\(\)\.$~'
        # for src/Panel/Right.php
        - '~^Call to an undefined method atk4\\ui\\JsExpression\:\:openPanel\(\)\.$~'
        - '~^Call to an undefined method atk4\\ui\\JsExpression\:\:reloadPanel\(\)\.$~'
        - '~^Call to an undefined method atk4\\ui\\JsExpression\:\:closePanel\(\)\.$~'
        - '~^Call to an undefined method atk4\\ui\\AbstractView\:\:addButtonAction\(\)\.$~'
        - '~^Call to an undefined method atk4\\ui\\AbstractView\:\:notClosable\(\)\.$~'
        - '~^PHPDoc tag @param references unknown parameter\: \$selector$~'
        - '~^Call to an undefined method Atk4\\Ui\\Panel\\LoadableContent\:\:getClearSelector\(\)\.$~'
        - '~^Call to an undefined method Atk4\\Ui\\JsExpression\:\:addPanel\(\)\.$~'
        # for src/Popup.php
        - '~^Call to an undefined method atk4\\ui\\Jquery\:\:popup\(\)\.$~'
        # for src/ProgressBar.php
        - '~^Call to an undefined method Atk4\\Ui\\Jquery\:\:progress\(\)\.$~'
        # for src/Tab.php
        - '~^Call to an undefined method Atk4\\Ui\\Jquery\:\:tab\(\)\.$~'
        - '~^Access to an undefined property Atk4\\Ui\\View\:\:\$activeTabName\.$~'
        # for src/Table.php
        - '~^Call to an undefined method atk4\\ui\\Jquery\:\:atkColumnResizer\(\)\.$~'
        # for src/Table/Column.php
        - '~^Call to an undefined method atk4\\ui\\AbstractView\:\:setHoverable\(\)\.$~'
        - '~^Call to an undefined method atk4\\ui\\JsCallback\:\:onSelectItem\(\)\.$~'
        # for src/Table/Column/Delete.php
        - '~^Call to an undefined method Atk4\\Ui\\AbstractView\:\:set\(\)\.$~'
        # for src/Table/Column/DragHandler.php
        - '~^Call to an undefined method atk4\\ui\\JsCallback\:\:onReorder\(\)\.$~'
        # for src/Table/Column/FilterPopup.php
        - '~^Call to an undefined method atk4\\data\\Model\:\:recallData\(\)\.$~'
        - '~^Call to an undefined method atk4\\data\\Model\:\:setConditionForModel\(\)\.$~'
        # for src/Tabs.php
        - '~^Call to an undefined method atk4\\ui\\View\:\:setPath\(\)\.$~'
        # for src/UserAction/ConfirmationExecutor.php
        - '~^Call to an undefined method atk4\\ui\\Jquery\:\:off\(\)\.$~'
        # for src/UserAction/ModalExecutor.php
        - '~^Access to an undefined property atk4\\ui\\AbstractView\:\:\$buttonSave\.$~'
        # for src/View.php
        - '~^Call to an undefined method atk4\\ui\\JsChain\:\:emit\(\)\.$~'
        - '~^Call to an undefined method atk4\\ui\\JsChain\:\:clearData\(\)\.$~'
        - '~^Call to an undefined method atk4\\ui\\JsChain\:\:addJsonData\(\)\.$~'
        - '~^Access to an undefined property atk4\\ui\\UserAction\\JsExecutorInterface&atk4\\ui\\View\:\:\$viewForUrl\.$~'
        - '~^Call to an undefined method atk4\\ui\\AbstractView\:\:setAction\(\)\.$~'
        - '~^Call to an undefined method atk4\\ui\\App\:\:jsReady\(\)\.$~'
        - '~^Call to an undefined method atk4\\ui\\App\:\:getViewJS\(\)\.$~'
        # for tests/FormTest.php
        - '~^Access to an undefined property Atk4\\Ui\\App\:\:\$output\.$~'
        # for tests/jsTest.php
        - '~^Call to an undefined method atk4\\ui\\JsChain\:\:getTextInRange\(\)\.$~'
        - '~^Call to an undefined method atk4\\ui\\Jquery\:\:first\(\)\.$~'
        - '~^Call to an undefined method atk4\\ui\\Jquery\:\:ready\(\)\.$~'
        - '~^Call to an undefined method atk4\\ui\\Jquery\:\:height\(\)\.$~'
