<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
            <directory>tests</directory>
        </include>
        <exclude>
            <directory>src/Behat</directory>
        </exclude>
    </source>
    <coverage>
        <report>
            <php outputFile="coverage/phpunit.cov" />
        </report>
    </coverage>
</phpunit>
