<phpunit bootstrap="vendor/autoload.php" printerClass="Atk4\Core\Phpunit\ResultPrinter" colors="true">
    <testsuites>
        <testsuite name="tests">
            <directory>tests</directory>
            <file>tests/DemosTest.php</file>
            <file>tests/DemosHttpTest.php</file>
            <file>tests/DemosHttpNoExitTest.php</file>
            <exclude>tests/DemosTest.php</exclude>
            <exclude>tests/DemosHttpTest.php</exclude>
            <exclude>tests/DemosHttpNoExitTest.php</exclude>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>demos_http</group>
            <group>require_session</group>
        </exclude>
    </groups>
    <listeners>
        <listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener" />
    </listeners>
    <coverage>
        <include>
            <directory>src</directory>
            <directory>tests</directory>
        </include>
        <exclude>
            <directory>src/Behat</directory>
        </exclude>
        <report>
            <php outputFile="coverage/phpunit.cov" />
        </report>
    </coverage>
</phpunit>
