<phpunit colors="true" bootstrap="vendor/autoload.php" printerClass="atk4\core\AtkPhpunit\ResultPrinter">
    <php>
        <var name="DB_DSN" value="sqlite::memory:" />
        <var name="DB_USER" value="travis" />
        <var name="DB_PASSWD" value="" />
        <var name="DB_DBNAME" value="dsql_test" />
    </php>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-php" target="phpunit.cov"/>
    </logging>
</phpunit>
