| {LabeledGroup}
div(class="{$control_class} field atk-form-group")
    label {$label}
    div(class="{$width} {$class} fields")
        | {$Content}
    | {$Hint}
| {/}

| {NoLabelGroup}
div(class="{$control_class} field atk-form-group")
    div(class="{$width} {$class} fields")
        | {$Content}
| {/}

| {LabeledControl}
div(class="{$control_class} field")
    label(for="{$label_for}") {$label}
    | {$Input}
    | {$Hint}
| {/}

| {NoLabelControl}
div(class="{$control_class} field no-label")
    | {$Input}{$Hint}
| {/}
= "\n"
