.ui.floating.message Please edit country information.
.ui.basic.segment
    .ui.equal.width.center.grid
        .row.grey
            .column
                | Country name: {$atk_fp__name}
            .column
                | Iso: {$atk_fp__iso}
        .row(style="background-color: #869D05;color: #FFFFFF;")
            .column
                | iso3: {$atk_fp__iso3}
            .column
                | Phone: {$atk_fp__phonecode}
            .column
                | Number Code: {$atk_fp__numcode}
        .centered.row
            .colum
                | {$Buttons}
= "\n"
