.ui.floating.message Please edit country information.
.ui.basic.segment
    .ui.equal.width.center.grid
        .row.grey
            .column
                | Country name: {$xxx_name}
            .column
                | Iso: {$xxx_iso}
        .row(style="background-color: #869D05;color: #FFFFFF;")
            .column
                | iso3: {$xxx_iso3}
            .column
                | Phone: {$xxx_phonecode}
            .column
                | Number Code: {$xxx_numcode}
        .centered.row
            .colum
                | {$Buttons}
= "\n"
