.ui.floating.message Please edit country information.
.ui.basic.segment
    .ui.equal.width.center.grid
        .row.grey
            .column
                | Country name: {$name}
            .column
                | Iso: {$iso}
        .row(style="background-color: #869D05;color: #FFFFFF;")
            .column
                | iso3: {$iso3}
            .column
                | Phone: {$phonecode}
            .column
                | Number Code: {$numcode}
        .centered.row
            .colum
                | {$Buttons}
