<div id="{$_name}" class="{ui}ui{/} list {$class}" style="{$style}" {$attributes}>
| {Content}
| {Item}
.item
    i(class="{icon}file{/} icon")
        .header {$name}
        .description {$description}
        {$Content}
| {/}
| {/}
</div>
