<{_element}div{/} id="{$_id}" class="{_ui}ui{/} {$class} {_class}{/}" style="{$style}" {$attributes}>
| {rows}
| {row}
a.section(href="{$link}") {$section}
i(class="{$divider} divider")
| {/row}
| {/rows}
.active.section {$Content}
</{_element}div{/}>
