<div id="{$_id}" class="{_ui}ui{/}  {$class} {$_class}" style="{$style}" {$attributes}>
    .text {$Content}
    i.dropdown.icon
    .menu
        | {rows}
        | {row}
        .item
            | {$name}
        | {/}
        | {/}
</div>
