div(id="{$_id}" class="{_ui}ui{/} {$class} {_class}{/}" style="{$style}")
  | {rows}{row}
  div(class="{$width} column row")
    | {column}
    .column
      div(class="{$column_class}") {$Content}
    | {/column}
  | {/row}{/rows}

