<{_element}div{/} id="{$_id}" class="{_ui}ui{/} {$class} {_class}{/}" style="{$style}" {$attributes}>
| {$Icon}
| {$title}
| {has_content}
.content
    | {$Content}
    | {$SubHeader}
| {/}
</{_element}div{/}>
