doctype html
html(lang="{lang}en{/}")
  head
    title {title}Agile UI - Untitled Project{/}
    | {$meta}
    meta(charset='utf-8')
    | {$HEAD}
    style(type='text/css')
      | {$style}
  body(class="{$class}")
    | {$Content}


