|<div id="{$_id}" class="{_ui}ui{/} {$class} {_class}ui left icon action transparent input{/}" style="{$style}" {$attributes}>
|    <i class="atk-filter-icon {$FilterIcon} icon"></i>
|    <input type="text" placeholder="{$Placeholder}" style="border:none">
|    <button class="atk-search-button {$Button}" style="{button_style}padding: 2px 0px; border: 0px; box-shadow: none; height: 24px{/}">
|        <i class="atk-search-icon {$BtnSearchIcon} link icon" style="margin:auto"></i>
|        <i class="atk-remove-icon {$BtnRemoveIcon} link icon" style="margin:auto"></i>
|    </button>
|</div>