<{_element}div{/} id="{$_id}" class="{_ui}ui {/} {$class} {_class}{/}" style="{$style}" {$attributes}>
    i.icon.close
    .header {$title}
    div(class="img content atk-dialog-content" data-uri="{$uri}" data-mode="{_mode}json{/}") {$Content}
</{_element}div{/}>