<{_element}div{/} id="{$_id}" class="{_ui}ui {/} {$class} {_class}{/}" style="{$style}" {$attributes}><i class="{$close}"></i>
    .header {$title}
    div(class="img content atk-dialog-content") {$Content}
    .actions
        div {$actions}
</{_element}div{/}>