<{_element}div{/} id="{$_id}" class="{_ui}ui {/} {$class} {_class}{/}" style="{$style}" {$attributes}><i class="{$close}"></i>
    {Header}
    div(class="{$headerCss}") {$title}
    {/Header}
    div(class="img content atk-dialog-content") {$Content}
    {ActionContainer}
    .actions
        div {$actions}
    {/ActionContainer}
</{_element}div{/}>
