.ui.horizontal.list
  .item {$Label}
  .item
    |<{_element}div{/} id="{$_id}" class="{_ui}ui selection compact dropdown{/} {$class} {_class}{/}" style="{$style}" {$attributes}>{$Content}</{_element}div{/}>
