| {Content}

| {LabeledGroup}
div(class="{$field_class} field")
    label {$label}
    div(class="{$width} {$class} fields")
        | {$Content}
| {/}

| {NoLabelGroup}
div(class="{$field_class} field")
    div(class="{$width} {$class} fields")
        | {$Content}
| {/}

| {InputField}
div(class="{$field_class} field")
    label(for="{$label_for}") {$label}
    | {$Input}
| {/}

| {InputNoLabel}
div(class="{$field_class} field")
    | {$Input}
| {/}

| {/}
| {$Buttons}
