| <div {$attributes}>
| {$BeforeInput}{$AfterBeforeInput}
| {$Input}
| <i class="{DropIcon}dropdown{/} icon"></i>
| <div class="default text">{DefaultText}...{/}</div>
| <div class="menu">
| {Item}<div class="item" data-value="{$value}">{Icon}<i class="{$iconClass}"></i>{/Icon}{$title}</div>
| {/Item}
| </div>
| {$AfterInput}{$AfterAfterInput}
| </div>
= "\n"
