.atk-slide-panel(id="{$_id}", class="{$_class} {$class}")
    i.atk-panel-warning(class="{$WarningIcon}")
    a.atk-panel-close(href='javascript:void(0)')
        i.times.icon
    .ui.centered.inline.loader(style="position:absolute; top: 25%; left:50%")
    | {$Content}