sphinx<5
sphinxcontrib-applehelp<=1.0.4
sphinxcontrib-devhelp<=1.0.2
sphinxcontrib-htmlhelp<=2.0.1
sphinxcontrib-jsmath<=1.0.1
sphinxcontrib-qthelp<=1.0.3
sphinxcontrib-serializinghtml<=1.1.5
sphinx-rtd-theme
sphinxcontrib-phpdomain @ git+https://github.com/markstory/sphinxcontrib-phpdomain@f785b8b333
myst-parser
linkify-it-py
