| <div id="{$_id}" class="{_ui}ui{/} {$class} {$_class}" style="{$style}" {$attributes}>
| {$BeforeInput}
| {$AfterBeforeInput}
| {Input}<input type="{input_type}text{/}" {$input_attributes}/>{/}
| <i class="{DropIcon}dropdown icon{/}"></i>
| <div class="default text">{DefaultText}...{/}</div>
| {$Items}
| {$AfterInput}
| {$AfterAfterInput}
| </div>
