| <div id="{$_id}" class="{_ui}ui{/} {$class} {$_class}" style="{$style}" {$attributes}>
{Radio}{Rows}{Row}
input(id="{$_id}_input" type="radio" class="hidden" name="{$name}")
{/Row}{/Rows}{/}
label {$Content}
| </div>
