.atk-layout
  | {$LeftMenu}
  main.atk-mainContainer
    | {$Ghost}{$TopMenu}
    .ui.main.container.basic.segment.very.padded
      | {$Content}
  footer.atk-footer
    .ui.divider
    .ui.center.aligned.basic.segment {Footer}Made with #[a(href='http://agiletoolkit.org/' target='_blank') Agile Toolkit] v{$version}{/}
  .atk-overlay.pushable
    .pusher
