.atk-layout
  | {$LeftMenu}
  | {$TopMenu}
  .atk-topMenuGhost
    .ui.three.item.menu
      a.active.item Editorials
      a.item Reviews
      a.item Upcoming Events
  main.atk-mainContainer
    .atk-mainContainerWrapper
      | {$Content}
  footer.atk-footer
    .ui.divider
    .ui.center.aligned.basic.segment {Footer}Made with #[a(href='http://agiletoolkit.org/' target='_blank') Agile Toolkit] v{$version}{/}
  .atk-overlay.pushable
    .pusher
