.ui.middle.aligned.grid.container(style="min-height: 100%; padding: 2rem 0;")
  .column
    | {$BeforeHeaderContent}{Header}
    h1.ui.center.aligned.header
      | {$HeaderImage}
      .content {$title}
    | {/}{$AfterHeaderContent}
    .ui.piled.segment
      | {$Content}
