//- vim:ts=2:sw=2:et
.ui.middle.aligned.grid.container(style="min-height: 100%")
  .column
    | {$BeforeHeaderContent}{Header}
    h1.ui.center.aligned.header
      | {$HeaderImage}
      .content {$title}
    | {/}{$AfterHeaderContent}
    .ui.piled.segment
      | {$Content}
