name: Unit Testing

on:
  pull_request:
    branches: '**'
  push:
    branches: '**'
  schedule:
    - cron: '0 */6 * * *'

jobs:
  unit-test:
    name: Unit
    runs-on: ubuntu-latest
    container:
      image: atk4/image:${{ matrix.php }} # https://github.com/atk4/image
    strategy:
      fail-fast: false
      matrix:
        php: ['7.2', '7.3', 'latest']
        type: ['Phpunit']
        include:
#          - php: 'latest'
#            type: 'Behat'
          - php: 'latest'
            type: 'CodingStyle'
    env:
      LOG_COVERAGE: "${{ fromJSON('{true: \"1\", false: \"\"}')[matrix.php == 'latest' && matrix.type == 'Phpunit' && (github.event_name == 'pull_request' || (github.event_name == 'push' && (github.ref == 'refs/heads/develop' || github.ref == 'refs/heads/master')))] }}"
    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: password
          DB_DATABASE: db
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=5
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure PHP
        run: |
          if [ -z "$LOG_COVERAGE" ]; then rm /usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini ; fi
          php --version

      - name: Setup cache 1/2
        id: composer-cache
        run: |
          echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Setup cache 2/2
        uses: actions/cache@v1
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ matrix.php }}-${{ matrix.type }}-${{ hashFiles('composer.json') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Install PHP dependencies
        run: |
          if [ "${{ matrix.type }}" != "Phpunit" ]; then composer remove --no-interaction --no-update phpunit/phpunit phpunit/phpcov codeclimate/php-test-reporter --dev ; fi
          if [ "${{ matrix.type }}" != "CodingStyle" ]; then composer remove --no-interaction --no-update friendsofphp/php-cs-fixer --dev ; fi
          composer install --no-suggest --ansi --prefer-dist --no-interaction --no-progress --optimize-autoloader

      - name: Install JS dependencies (only for Behat)
        if: matrix.type == 'Behat'
        run: |
          apk add npm
          npm install -g less clean-css uglify-js

      - name: Build JS files (only for Behat)
        if: matrix.type == 'Behat'
        run: |
          (cd js; npm install --loglevel=error; npm run build)
          #lessc public/agileui.less public/agileui.css  --clean-css="--s1 --advanced --compatibility=ie8" --source-map
          #uglifyjs --compress -- public/agileui.js > public/agileui.min.js

      - name: Init
        run: |
          mkdir -p coverage
          mysql -uroot -ppassword -h mysql -e 'CREATE DATABASE atk4;'
          mysql -uroot -ppassword -h mysql atk4 < demos/atk4.sql

          mv demos/db.github.php demos/db.php

      - name: "Run tests: Phpunit (only for Phpunit)"
        if: matrix.type == 'Phpunit'
        run: "vendor/bin/phpunit \"$(if [ -n \"$LOG_COVERAGE\" ]; then echo '--coverage-text'; else echo '--no-coverage'; fi)\" --coverage-clover=coverage.xml"

#      - name: "Run tests: Behat (only for Behat)"
#        if: matrix.type == 'Behat'
#        run: TODO migrate from Travis CI

      - name: Lint / check syntax (only for CodingStyle)
        if: matrix.type == 'CodingStyle'
        run: find . \( -type d \( -path './vendor/*' \) \) -prune -o ! -type d -name '*.php' -print0 | xargs -0 -n1 php -l

      - name: Check Coding Style (only for CodingStyle)
        if: matrix.type == 'CodingStyle'
        continue-on-error: true # remove once CS is fully fixer
        run: vendor/bin/php-cs-fixer fix --dry-run --using-cache=yes --cache-file="${{ steps.composer-cache.outputs.dir }}/.php_cs.cache" --diff --diff-format=udiff --verbose --show-progress=dots

#      - name: Upload coverage logs 1/2 (only for "latest" Phpunit)
#        if: env.LOG_COVERAGE
#        run: vendor/bin/phpcov merge build/logs/ --clover build/logs/cc.xml
#
#      - name: Upload coverage logs 2/2 (only for "latest" Phpunit)
      - name: Upload coverage logs (only for "latest" Phpunit)
        if: env.LOG_COVERAGE
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: coverage.xml
